{% extends "base.html" %}

{% load static %}

{% block extra_title %} 
My thoughts
{% endblock %}

{% block content %}

{% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

        <p class="text-center text-white alert alert-success" id="message-timer">
            <i class="fa fa-check" aria-hidden="true"></i> &nbsp;{{ message }}
        </p>

    {% endif %}

{% endfor %}

<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-12">

            <h2 class="text-center"><strong> <u>Your thoughts</u></strong></h2>

            <br>

            {% for thought in thoughts %}
                <div class="bg-white m-auto p-5 rounded-2 shadow-md" style="max-width: 500px;">
                    
                    <br><br>

                    <h3>{{ thought.title }}</h3>

                    {{ thought.content }}

                    <br><br>

                    <a class="btn btn-outline-primary btn-lg m-auto p-2 w-100 d-flex justify-content-center" type="button" href="{% url 'update-thought' thought.id %}">Update</a>

                    <br>

                    <a class="btn btn-outline-danger btn-lg m-auto p-2 w-100 d-flex justify-content-center" type="button" href="{% url 'delete-thought' thought.id %}">Delete</a>

                </div>

                <br><br>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}