{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-12">

            <div class="bg-white m-auto rounded-2 shadow-md p-5" style="max-width: 500px;">

                <h2 class="text-center"><strong> <u>Post Thought</u></strong></h2>

                <br>

                <form method="POST" autocomplete="off" class="m-auto">
                    {% csrf_token %}

                    {{ form.title|as_crispy_field}}

                    <br>

                    {{ form.content|as_crispy_field}}

                    <br><br>

                    <button type="submit" class="btn btn-outline-primary btn-lg m-auto p-3 w-100 d-flex justify-content-center"> <span><i class="fa fa-plus" aria-hidden="true"></i>
                    </span> &nbsp; Post thought</button>

                    <br>

                </form>

            </div>

        </div>
    </div>

</div>

{% endblock %}