{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-12">

            <h2 class="text-center"> <strong> <u>Profile Manangement</u> </strong></h2>

            <div class="bg-white m-auto rounded-2 shadow-md p-5" style="max-width: 500px;">

                <h4 class="text-center"><strong> <u>Update username/email</u></strong></h4>

                <br>
                <p>You can change or upload a profile picture below:</p>
                <br>

                <form method="POST" autocomplete="off" class="m-auto">
                    {% csrf_token %}

                    {{ form.username|as_crispy_field}}

                    <br>

                    {{ form.email|as_crispy_field}}

                    <br>
                    
                    <button type="submit" class="btn btn-outline-primary btn-lg m-auto w-100 btn-block p-3 d-flex justify-content-center"> &nbsp; Update</button>

                </form>

            </div>

            <br>

            <div class="bg-white m-auto rounded-2 shadow-md p-5" style="max-width: 500px;">

                <h4 class="text-center"><strong> <u>Update profile picture</u></strong></h4>
                <p>You can change or upload a profile picture below:</p>
                <br>
                <form method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                    <span>{{ profile_form_update|crispy}}</span>

                    <br>

                    <button type="submit" w-100 class="btn btn-outline-primary btn-lg m-auto w-100 btn-block p-3 d-flex justify-content-center "><span><i class="fa fa-upload" aria-hidden="true"></i>
                    </span> &nbsp; Upload profile picture </button>

                </form>

            </div>

            <br>

            <div class="col-12">

                <div class="bg-white m-auto p-5 rounded-2 shadow-md" style="max-width: 500px;">

                    <h4><u>Delete your account</u></h4>
                    
                    <br>
    
                    <p>No longer need your account? Use the option below to <strong>delete your account.  </strong> 
                    </p>
                    
                    <a href="{% url 'delete-account' %}" class="btn btn-outline-primary btn-lg m-auto w-100 btn-block p-3 d-flex justify-content-center"> &nbsp; Process to delete account</a>
    
                </div>
    
                <br><br>
    
            </div>

            <br>



            {% for message in messages %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                    <p class="text-center text-white alert alert-success" id="message-timer">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        &nbsp; {{ message }}
                    </p>
                
                {% endif %}

            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}