{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-12">

            <div class="bg-white m-auto rounded-2 shadow-md p-5" style="max-width: 500px;">

                <h2 class="text-center"><strong> Forgot password</strong></h2>

                <br>

                <form method="POST" autocomplete="off" class="m-auto">
                    {% csrf_token %}

                    {{form|crispy}}

                    <br><br>

                    <input type="submit" class="btn btn-outline-primary btn-lg m-auto p-3 w-100 d-flex justify-content-center" name="Send email" value="Send password reset link">

                    <br>
                    <p>Forgotten your password? We’ll send a password reset link to this email if it matches your existing account. </p>
                    <br>

                </form>

            </div>

        </div>
    </div>

</div>

{% endblock %}