{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container-fluid mt-5">

    <div class="row">

        <div class="col-12">

            <div class="bg-white m-auto rounded-2 shadow-md p-5" style="max-width: 500px;">

                <h2 class="text-center"><strong> <u>Password reset sent</u></strong></h2>

                <br>

                <p> An email has been sent to {{user.email}} with instructions for resetting your passowrd.</p>

            </div>

        </div>
    </div>

</div>

{% endblock %}